body{
    background-color: aqua;
}
.container{
    margin-top: 20px;
    background-image: url(../images/twomugs.jpg);
    background-size: cover;
padding: 20px;
text-align: center;
min-height: 494px;
}
.card{
    margin-top: 20px;
    margin-left:auto;
    margin-right: auto;
    
}
.possibleAnswer{
    background-color: rgb(238, 171, 123);

}
#timerCard{
    background-color: sandybrown;
}
.card-header{
    background-color: chocolate;
}
.btn{
    margin:auto;
}
.hidden{
    display: none;
}