body{
    background-color: aqua;
}
.container{
    font-family: 'Lalezar', cursive;
    margin-top: 20px;
    background-image: url(../images/twomugs.jpg);
    background-size: cover;
padding: 20px;
text-align: center;
min-height: 494px;
}
h1{
    font-size: 50px;
    color:whitesmoke;
    text-shadow: black 0.2em 0.1em .5em;
    font-family: 'Ewert', cursive;

}
.card{
    max-width: 100%;
    margin-top: 20px;
    margin-left:auto;
    margin-right: auto;
    
}
.possibleAnswer{
    background-color: rgb(238, 171, 123);

}
#timerCard{
    background-color: sandybrown;
}
.card-header{
    background-color: chocolate;
    font-size:20px;
    color:white;
    letter-spacing: 1px;
}

.btn{
    margin:auto;
}
.hidden{
    display: none;
}
img{
    max-height: 300px;
    max-width:100%
}